<ion-header>
  <ion-toolbar>
    <ion-title>Sobre o desenvolvedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/foto.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Desenvolvedor</ion-card-subtitle>
      <ion-card-title>João Assis Padilha</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      João Assis é aluno do ifsc
       do curso técnico em desenvolvimento de sistemas.
    </ion-card-content>
  </ion-card>

</ion-content>
